{% extends 'base.html' %}
{% load humanize %}
{% block body %}
    
{% if notas %}
<div class="container">
    <br>
    <h1 style="color:azure">Tus notas</h1>
    <div class="notes">
        
        {% for nota in notas %}
        <div class="note">
            <h2 class="text-info">{{nota.titulo}}</h2>
            <p style="color:azure">{{nota.cuerpo}}</p>
            <p style="color: azure;">{{nota.fecha_actualizada|naturaltime}}</p>
            <div class="options">
                <a href="{% url 'Editado-Notas' nota.id %}" class="btn btn-success">Update</a>
                <a href="{% url 'Borrar-Notas' nota.id %}" class="btn btn-danger">Delete</a>
            </div>
        </div>
        {% endfor %}
            
    </div>
</div>

{% else %}
<div class="container">
    <h1 style="color:azure;">Todavia no tienes notas creadas...</h1>
    <br>
    <a class="btn btn-dark btn-lg starting-btn" href="{% url 'Agregado-Notas' %}">Empecemos</a>
</div>

{% endif %}

{% endblock body %}
    