.note{
    border: 1px solid lightgray;
    padding: 10px;
}

.imagen{
    padding-left: 800px;
    
}

.icono{
    height: 50px;
    width: 50px;
}

.fondo{
    background: local;
    background-image: url("https://www.freejpg.com.ar/asset/OLD/comps/f003875.jpg");
}
