<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/notas.css' %}">
    <title>Document</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand navbar-dark bg-dark text-center">
            <ul class="nav navbar-nav">

                {% if user.is_authenticated %}
                <li class="nav-item active">
                    <a class="nav-link user-select-none"href="">{{user.username}}</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'Inicio' %}">Inicio</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link add" href="{% url 'Agregado-Notas' %}">¡Agregá tus notas!</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link add" href="{% url 'Editar-Usuario' %}">Configuraciòn de perfil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link add" href="{% url 'Logout' %}">Logout</a>
                </li>
                {% else %}
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'Inicio' %}">Keep Notes</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link add" href="{% url 'Registro' %}">Regístrate</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link add" href="{% url 'Login' %}">Login</a>
                </li>
                {% endif %}

            </ul>
        </nav>
    </header>

    
    {% block body %}

    {% endblock body %}
    

    {% block logout %}

    {% endblock logout %}

   


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
</body>

</html>