

{% block footer %}
    <br><br><br><br>
    <footer >
        <div class="container-fluid text-center">
            <div class="card">
                <div class="card-body text-center">
                  <h5 class="card-title"></h5>
                  <p class="card-text-dark">Ante cualquier comentario o consulta, estamos a su disposición en nuestras redes</p>
                  <a href="https://www.linkedin.com/in/leagabvil88/" target="_blank" class="btn btn-dark ">Linkedin</a>
                  <a href="https://www.instagram.com/leagabvil/" target="_blank" class="btn btn-dark">Instagram</a> 
                </div>
              </div>
        </div>
    </footer>
{% endblock footer %}
    